#contenedorDiploma {
	width: 99%;
	height: 768px; 
	background-image: url(../img/diploma.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

#contenedorDiplomaConsult{
	width: 99%;
	height: 740px; 
	background-image: url(../img/diploma_consultoria.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

#contNombre{
	text-align: center;
	padding-top: 260px;
	font-family: Tahoma;
	font-size: 36px;
}

#contNombrePyME{
	text-align: center;
	padding-top: 280px;
	font-family: Tahoma;
	font-size: 36px;
}

#contTema {
	text-align: center;
	padding-top: 76px;
	font-family: Tahoma;
	font-size: 26px;
}

#contFirmas{
	width: 100%;
	text-align: center;
	font-family: Calibri;
	padding-top: 120px;
}

#contFirmasConsult{
	width: 100%;
	text-align: center;
	font-family: Calibri;
	padding-top: 200px;
}

#firmaUno{
	width: 50%;
	float: left;
	text-align: center;
}

#firmaDos{
	width: 50%;
	float: left;
	text-align: center;
}

#pie{
	padding-top: 55px;
}

.nombreFirma{
	font-size: 18px;
	font-weight: bold;
}

.puestoFirma{
	font-size: 12px;
}

@media print {

	body{ width: 960px !important; margin: 0 !important; background-color: transparent !important;}
	#layoutContainer{ width: 960px !important; margin:  0 !important; background-color: transparent !important;}
	#headerContainer { display: none !important; }
	#logoutContainer{ display: none !important; }
	#userContainer { display: none !important; }
	#workingContainer{margin: 0 !important;}
	#spacer { display: none !important; }
	#tituloPag { display: none !important; }
	#botonesDiploma { display: none !important; }
	
	#contenedorDiplomaConsult{
		width: 960px !important;
		margin:  0 auto 0 !important;
  		padding: 0 !important;
  		height: 740px !important;
	}
	
	#contenedorDiploma{
		width: 960px !important;
  		margin:  0 auto 0 !important;
  		padding: 0 !important;
		height: 760px !important;
		background-image: url(../img/diploma.jpg) !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
}