body {
	background-color: #E4E4E4;
}

body {
	background-color: #FFFFFF;
}

#layoutContainer {
	width: 90%;
	margin-top: -15px;
	margin-right: 5%;
	margin-left: 5%;
	background-color: #FFFFFF;
}

#layoutContainerModal {
	width: 90%;
	margin-top: 1px;
	margin-right: 1%;
	margin-left: 1%;
	background-color: #FFFFFF;
}

#headerContainer {
	background-color: #F7F7F7;
	height: 126px;
}

#footerContainer {
	margin-top: 495px;
	background-color: #E4E4E4;
}

#userContainer {
	position: absolute;
	right: 75%;
	width: 20.5%;
	border: 1px solid #FFFFFF;
}

#workingContainer {
	position: absolute;
	right: -5.9%;
	width: 82%;
	height: 70%;
	border: 1px solid #FFFFFF;
}

#workingContainerModal {
	position: absolute;
	width: 68%;
	height: 70%;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

img.headerimg {
	height: 120px !important;
	margin-top: 0px;
}

label.headerlabeltitle {
	display: block;
	font-family: calibir, verdana;
	font-size: 32px;
	text-align: center;
	padding: 0 0 0 0;
	height: 77px;
	color: #013668;
	border: 1px solid #F3F3F3;
}

label.headerlabelusuario {
	display: block;
	font-family: calibir, verdana;
	font-size: 14px;
	text-align: right;
	padding: 5px 0 0 0;
	height: 15px;
	color: #013668;
	border: 1px solid #F3F3F3;
}

label.headerlabelsalir {
	font-family: calibir, verdana;
	font-size: 14px;
	text-align: right;
	padding: 0 0 0 0;
	height: 15px;
	border: 1px solid #F3F3F3;
}

label.footerlabel {
	font-family: calibir, verdana;
	font-size: 14px;
	padding: 0 0 0 0;
	height: 18px;
	color: #013668;
	border: 1px solid #F3F3F3;
}

a:link {
	font-family: calibir, verdana;
	font-size: 14px;
	color: #013668;
	text-decoration: none
}

a:visited {
	font-family: calibir, verdana;
	font-size: 14px;
	color: #013668;
	text-decoration: none
}

a:active {
	font-family: calibir, verdana;
	font-size: 14px;
	color: #013668;
	text-decoration: none
}

a:hover {
	font-family: calibir, verdana;
	font-size: 14px;
	text-decoration: underline;
	color: #729FCF;
	cursor: pointer;
}

div.menu1,div.menu2,div.menu3,div.menu4,div.menu5 {
	font-family: calibir, verdana;
	font-size: 18px;
	letter-spacing: 1px;
	color: #FAFAFA;
	padding: 10px 10px 10px 10px;
	border: 2px solid #FFFFFF;
	width: 225px;
	background: #D5D5D5;
}

div.menu1:hover,div.menu2:hover,div.menu3:hover,div.menu4:hover,div.menu5:hover
	{
	font-family: calibir, verdana;
	font-size: 18px;
	letter-spacing: 1px;
	color: #4682B4;
	padding: 10px 10px 10px 10px;
	border: 2px solid #FFFFFF;
	width: 225px;
	background: #F5DEB3;
	cursor: pointer;
}

/*#listarequerimientos {*/
/*	border: medium none;*/
/*	color: #333333;*/
/*	height: 665px;*/
/*	padding: 0 0 0 50px;*/
/*	width: 650px;*/
/*}*/
/**/
/*#listarequerimientos legend {*/
/*	color: #333333;*/
/*	font-family: arial;*/
/*	font-size: 21px;*/
/*	letter-spacing: -1px;*/
/*	padding-bottom: 20px;*/
/*	padding-top: 8px;*/
/*	text-transform: capitalize;*/
/*}*/
/**/
/*#listarequerimientos input {*/
/*	color: #646464;*/
/*	font-family: arial, sans-serif;*/
/*}*/
/**/
/*#listarequerimientos input.botonenviar {*/
/*	font-family: arial, sans-serif;*/
/*	font-size: 13px;*/
/*	font-weight: bold;*/
/*	text-align: center;*/
/*	margin-left: 50px;*/
/*	margin-top: -20px;*/
/*	width: 200px;*/
/*}*/
/**/
/*#listarequerimientos input.botonenviar:hover {*/
/*	color: #464646;*/
/*	cursor: hand;*/
/*}*/

.submit_tabla {
	width: 900px;
	text-align: center;
}

.encabezado_tabla {
	font-family: Arial, Verdana;
	color: #1B6594;
	border: 1px #C8C7C2 solid;
	height: 0;
	background-color: #F7F7F7;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

.cuerpo1TablaResumen {
	font-family: Arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	background-color: #F0F0F0;
	color: #0B396D;
	text-decoration: none;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
}

.cuerpo2TablaResumen {
	font-family: Arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	background-color: #E6E6E6;
	color: #0B396D;
	text-decoration: none;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
}

#requerimientos {
	border: medium none;
	color: #333333;
	text-align: left;
	padding: 0 0 0 5px;
}

#requerimientos legend {
	color: #5A5A5A;
	font-family: arial;
	font-size: 21px;
	letter-spacing: -1px;
	padding-bottom: 2px;
	padding-top: 5px;
	/*	text-transform: capitalize;*/
}

#requerimientos input.texto {
	color: #666666;
	font-size: 14px;
	height: 22px;
	padding-bottom: 0;
	padding-left: 1px;
	padding-top: 2px;
	width: 454px;
	font-family: arial, sans-serif;
}

#requerimientos checkbox {
	margin-left: 170px;
	margin-top: -30px;
}

#requerimientos input.calendario {
	color: #666666;
	font-size: 14px;
	/*	height: 20px;*/
	padding-bottom: 0;
	padding-left: 1px;
	padding-top: 2px;
	width: 85px;
	font-family: arial, sans-serif;
}

#requerimientos textarea.areadetexto {
	width: 454px;
	height: 90px;
	padding-bottom: 0;
	padding-left: 5px;
	padding-top: 5px;
	color: #666666;
	font-size: 12px;
	font-family: arial, sans-serif;
}

label.camposObligatorios {
	font-family: arial, sans-serif;
	font-size: 15px;
	padding-left: 15px;
	color: #FFA500;
}

label.etiquetaCaptura {
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #646464;
	padding: 10px 0 3px;
}

label.etiquetaAyuda {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #999999;
	padding: 10px;
}

#requerimientos label.campo {
	display: block;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #646464;
	padding: 10px 0 3px;
	background: url(../img/icon-info.gif) no-repeat 69% 70%;
	cursor: help;
}

#requerimientos label.checklabel {
	display: block;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #646464;
	padding: 10px 0 3px;
	margin-left: 150px;
	margin-top: -28px;
}

#requerimientos label.agregar {
	margin-left: 2px;
	margin-top: -8px;
	font-size: 12px;
	color: #A1A1A1;
}

#requerimientos label.agregar:hover {
	color: blue;
	cursor: hand;
}

#requerimientos input {
	color: #646464;
	font-family: arial, sans-serif;
}

#requerimientos input.botonenviar {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	padding: 5px 10px 5px 10px;
}

#requerimientos input.botonenviar:hover {
	color: #464646;
	cursor: pointer;
}

#requerimientos select {
	width: 200px;
}

#requerimientos select optgroup {
	font-style: normal;
	font-weight: bold;
}

.hint {
	display: none;
	position: absolute;
	right: 550px;
	width: 200px;
	margin-top: -26px;
	border: 1px solid #c93;
	padding: 10px 12px;
	background: #ffc url(../img/entrada.gif) no-repeat -10px 5px;
}

.hint .hint-pointer {
	position: absolute;
	left: -10px;
	top: 5px;
	width: 10px;
	height: 19px;
	background: url(../img/entrada.gif) left top no-repeat;
}