body {
	background-color: #FCFCFC;
}

#layoutContainer {
	width: 1215px;
	margin: 0 auto 0 auto;
	background-color: #FFFFFF;
}

#layoutContainerModal {
	width: 90%;
	margin-top: 1px;
	margin-right: 1%;
	margin-left: 1%;
	background-color: #FFFFFF;
}

#headerContainer {
	height: 126px;
	background: #F7F7F7 url(../img/page-background.png) 50% 50% repeat-x;
}

#footerContainer {
	background-color: #E4E4E4;
}

#spacer {
	height: 20px;
}

#userContainer {
	position: static;
	margin: 0 auto 0 -970px;
	border: 0px solid #FCFCFC;
}

#workingContainer {
	position: static;
	margin: -240px auto 0 250px;
	min-height: 450px;
}

img.headerimg {
	margin-right: 220px;
	height: 120px !important;
	margin-top: -5px;
}

label.headerlabeltitle {
	display: block;
	font-family: Calibri, Verdana;
	font-size: 37px;
	text-align: center;
	padding: auto auto auto auto;
	height: 77px;
	color: #013668;
}

label.headerlabelusuario {
	display: block;
	font-family: Calibri, Verdana;
	font-size: 14px;
	text-align: right;
	padding: 15px 0 0 0;
	height: 15px;
	color: #013668;
}

label.headerlabelsalir {
	display: block;
	font-family: Calibri, Verdana;
	font-size: 14px;
	text-align: right;
	font-weight: bold;
	padding: 15px 0 0 0;
	height: 15px;
	color: #013668;
	cursor: pointer;
}

label.headerlabelsalir:hover {
	display: block;
	font-family: Calibri, Verdana;
	font-size: 14px;
	text-align: right;
	font-weight: bold;
	padding: 15px 0 0 0;
	height: 15px;
	text-decoration: underline;
	color: #729FCF;
	cursor: pointer;
}

label.footerlabel {
	font-family: Calibri, Verdana;
	font-size: 14px;
	padding: 0 0 0 0;
	height: 18px;
	color: #013668;
}

label.errorTitlelabel {
	color: #5A5A5A;
	font-family: Verdana;
	font-size: 18px;
	letter-spacing: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
}

label.errorTextlabel {
	color: #5A5A5A;
	font-family: Verdana;
	font-size: 15px;
	letter-spacing: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
}

a:link {
	font-family: Calibri, Verdana;
	font-size: 14px;
	color: #013668;
	text-decoration: none
}

a:visited {
	font-family: Calibri, Verdana;
	font-size: 14px;
	color: #013668;
	text-decoration: none
}

a:active {
	font-family: Calibri, Verdana;
	font-size: 14px;
	color: #013668;
	text-decoration: none
}

a:hover {
	font-family: Calibri, Verdana;
	font-size: 14px;
	text-decoration: underline;
	color: #729FCF;
	cursor: pointer;
}

div.menu1,div.menu2,div.menu3,div.menu4,div.menu5,div.menu6,div.menu7 {
	font-family: Calibri, Verdana;
	font-size: 18px;
	letter-spacing: 1px;
	color: #FDFDFD;
	padding: 10px 10px 10px 10px;
	border: 2px solid #FFFFFF;
	width: 225px;
	background: #D6D9D5;
}

div.menu1:hover,div.menu2:hover,div.menu3:hover,div.menu4:hover,div.menu5:hover,div.menu6:hover,div.menu7:hover
	{
	font-family: Calibri, Verdana;
	font-size: 18px;
	letter-spacing: 1px;
	color: #0066CC;
	padding: 10px 10px 10px 10px;
	border: 2px solid #FFFFFF;
	width: 225px;
	background: #F5DEB3;
	cursor: pointer;
}

.submit_tabla {
	width: 85%;
	margin: 0 auto 0 auto;
	text-align: center;
}

.expediente_tabla {
	margin: 0 auto 0 auto;
}

.encabezado_tabla {
	font-family: Calibri, Verdana;
	color: #1B6594;
	border: 1px #C8C7C2 solid;
	height: 20px;
	background-color: #F7F7F7;
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
}

.encabezadoTablaResumen {
	font-family: Calibri, Verdana;
	color: #F2F2F2;
	background-color: #6486AA;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
	height: 0;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.cuerpo1TablaResumen {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: #F7F7F7;
	color: #7C7C7C;
	text-decoration: none;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
}

.cuerpo2TablaResumen {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: #EAEAEA;
	color: #7C7C7C;
	text-decoration: none;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
}

.cuerpo1TextoResumen {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: normal;
	background-color: #FEFEFE;
	color: #A9A9A9;
	text-decoration: none;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #F5F5F5;
}

.resaltaText{
	font-weight: bold;
	color: #013668;
}

table.nota {
	font-size: 13px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
	background: #E8F4FD none repeat scroll 0 0;
	color: #0A4172;
	border: 1px #819CB7 solid;
	height: 30px;
	padding: 4px 10px 4px 10px;
	position: relative;
	top: -2px;
}

div.resultado {
	height: 200px;
	width: 1430px;
	padding: 2px 5px 2px 5px;
	margin-left: 2px;
	background-color: #F1F5F1;
	overflow: visible;
}

font.marcaResultado {
	color: #99CCFF !important;
	font-size: 15px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
	color: rgb(255, 92, 0);
}

td.imgNota {
	vertical-align: top;
	font-weight: bold;
	width: 8%;
}

td.contenidoNota {
	
}

#requerimientos {
	border: medium none;
	color: #333333;
	text-align: left;
	padding: 0px 5px 5px 5px;
}

#login {
	border: medium none;
	color: #333333;
	padding: 5px 5px 5px 5px;
}

#login input.texto {
	color: #666666;
	font-size: 16px;
	height: 22px;
	padding-bottom: 0;
	padding-left: 1px;
	padding-top: 2px;
	width: 454px;
	font-family: Calibri, Verdana;
}

#login input {
	color: #646464;
	font-family: Calibri, Verdana;
}

#login input.botonenviar {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: 1px solid rgb(200, 200, 200);
	color: rgb(125, 125, 125);
	padding: 5px 10px 5px 10px;
}

#login input.botonenviar:hover {
	color: #0066CC;
	background-color: rgb(241, 251, 251);
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: 1px solid rgb(111, 191, 251);
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}

#requerimientos legend {
	color: #5A5A5A;
	font-family: Verdana;
	font-size: 21px;
	letter-spacing: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
	cursor: default;
}

#requerimientos input.texto {
	color: #666666;
	font-size: 14px;
	height: 22px;
	padding-bottom: 0;
	padding-left: 1px;
	padding-top: 2px;
	width: 454px;
	font-family: Calibri, Verdana;
}

#requerimientos checkbox {
	margin-left: 170px;
	margin-top: -30px;
}

#requerimientos input.calendario {
	color: #666666;
	font-size: 14px;
	/*	height: 20px;*/
	padding-bottom: 0;
	padding-left: 1px;
	padding-top: 2px;
	width: 85px;
	font-family: Calibri, Verdana;
}

#requerimientos textarea.areadetexto {
	width: 454px;
	height: 90px;
	padding-bottom: 0;
	padding-left: 5px;
	padding-top: 5px;
	color: #666666;
	font-size: 12px;
	font-family: Calibri, Verdana;
}

label.camposObligatorios {
	font-size: 13px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
	background: #FEF5C9 none repeat scroll 0 0;
	color: rgb(255, 92, 0);
	border: 1px solid #E8D15C;
	height: 32px;
	padding: 5px 10px 5px 10px;
	position: relative;
	top: -5px;
}

label.etiquetaCaptura {
	font-family: Calibri, Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #646464;
	padding: 2px 2px 2px 3px;
}

label.etiquetaAyuda {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #999999;
	padding: 0px;
	margin-top: -15px;
}

label.cuerpo1LabelResultado {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: #F7F7F7;
	color: #7C7C7C;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
	margin-left: 5px;
}

label.cuerpo2LabelResultado {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: #F1F1F1;
	color: #7C7C7C;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
	margin-left: 55px;
}

label.cuerpo3LabelResultado {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: #E7E7E7;
	color: #7C7C7C;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
	margin-left: 105px;
}

label.cuerpo4LabelResultado {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: #E1E1E1;
	color: #6C6C6C;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
	margin-left: 155px;
}

label.cuerpo5LabelResultado {
	font-family: Calibri, Verdana;
	font-size: 14px;
	font-weight: bold;
	background-color: #D3D3D3;
	color: #5C5C5C;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	border-top: 1px solid #F5F5F5;
	border-right: 1px solid #D5D4CF;
	border-bottom: 1px solid #D5D4CF;
	border-left: 1px solid #F5F5F5;
	margin-left: 205px;
}

#requerimientos label.campo {
	display: block;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #646464;
	padding: 10px 0 3px;
	background: url(../img/icon-info.gif) no-repeat 69% 70%;
	cursor: help;
}

#requerimientos label.checklabel {
	display: block;
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #646464;
	padding: 10px 0 3px;
	margin-left: 150px;
	margin-top: -28px;
}

#requerimientos label.agregar {
	font-family: monospace;
	margin-left: 2px;
	font-weight: bold;
	margin-top: -8px;
	font-size: 13px;
	color: #3333FF;
}

#requerimientos label.agregar:hover {
	text-decoration: underline;
	color: #9900FF;
	cursor: pointer;
}

#requerimientos label.quitar {
	font-family: monospace;
	margin-left: 2px;
	font-weight: bold;
	margin-top: -8px;
	font-size: 13px;
	color: #DD3333;
}

#requerimientos label.quitar:hover {
	text-decoration: underline;
	color: #9900FF;
	cursor: pointer;
}

#requerimientos label.resultado {
	font-family: Calibri, Verdana;
	font-weight: bold;
	margin-left: 2px;
	margin-top: -2px;
	font-size: 16px;
	color: #013668;
}

#requerimientos input.resultado {
	font-family: Calibri, Verdana;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 2px;
	font-size: 16px;
	color: #013668;
	border: 0px solid #FFFFFF;
}

#requerimientos textarea.resultado {
	font-family: Calibri, Verdana;
	font-weight: bold;
	background-color: #FFFFFF;
	margin-left: 2px;
	margin-top: 0px;
	font-size: 16px;
	color: #013668;
	border: 0px solid #FFFFFF;
	margin-left: 2px;
}

#requerimientos input {
	color: #646464;
	font-family: Calibri, Verdana;
}

#requerimientos input.botonenviar {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: 1px solid rgb(200, 200, 200);
	color: rgb(125, 125, 125);
	padding: 5px 10px 5px 10px;
}

#requerimientos input.botonenviar:hover {
	color: #0066CC;
	background-color: rgb(241, 251, 251);
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: 1px solid rgb(111, 191, 251);
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}

#requerimientos select {
	width: 160px;
}

#requerimientos select optgroup {
	font-style: normal;
	font-weight: bold;
}